@media only screen and (max-width:959px){

body{
  margin:0;
  padding:0;
  background-color: #e9ebed;
  font-family: helvetica, Tahoma, Segoe UI, San Francisco, Roboto;
}

#barra{
  visibility:hidden;
}

#contingut{

}

#cap{
  background-image: url(../img/yonacap.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 254px;
  text-align: center;

}

#principal{

}

#cap img{
  width: 162px;
  height: 162px;
  border-radius: 50%;
  border: solid white 4px;
  margin-top: 173px;
}

#cap h2{
  font-size: 28px;
  font-weight: 200px;

}

#contingut #menu{
 visibility: hidden;
}

#menu li{

}

.esquerra, .dreta {

}

.esquerra li, .dreta li {

}

.esquerra {

}

#fotos{

}

#seccions{

}

.dreta{

}

#seccions h3{
  background-image: url(../img/lateral.png);
  background-repeat: no-repeat;
  background-position: 0 -24px;
  text-indent: 26px;
  height: 24px;
}

#presentacio p{
  padding-bottom: 12px;
  box-shadow: 0 1px 0 #DDD;
}

#presentacio .estudis{
  list-style-image: url(../img/icones_estudis.png);
}

#presentacio .domicili{
  list-style-image: url(../img/icones_domicili.png);
}

#presentacio .feina{
  list-style-image: url(../img/icones_feina.png);
}

#presentacio .neixement{
  list-style-image: url(../img/icones_ubicacio.png);
}

#presentacio h3{
  background-position: 0 0;
}

#amistats h3{
  background-position: 0 -48px;
}

#surprise h3{
  background-position: 0 -72px;
}

#amistats ul{
  background-color: white;
  margin:0;
  padding:0;
  overflow: hidden;
}

#amistats li{
  width: 95px;
  height: 95px;
  background-color: white;
  padding:0;
  margin: 2px;
  float:left;
  background-size: 100%;
  position:relative;
  }

#sf{
  background-image: url(https://sfernandez2019crn.github.io/M08/s2m8uf104_fernandez/img/gos.png);
}
#ac{
  background-image: url(https://acarranco2019crn.github.io/m08/s2m8uf0104carranco/img/profile.jpg);
}
#sg{
  background-image: url(https://sgarzon2019crn.github.io/M08/s2m8uf104_facebook/img/perfil.jpg);
}
#sp{
  background-image: url(https://sperez2019crn.github.io/M08/s2m8uf104_sperez/img/fotoperfil.jpg);
}
#np{
  background-image: url(https://iprados2019crn.github.io/M08/s2m8uf104_iprados/img/fotoperfil.jpg);
}
#op{
  background-image: url(https://oparicio2019crn.github.io/M08/UF1/s2m8uf104_oparicio/img/perfil.png);
}
#nc{
  background-image: url(https://nchia2019crn.github.io/M08/s2m8uf104_chia/img/perfil.jpg);
}
#vh{
  background-image: url(https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png);
}
#sm{
  background-image: url(https://smarcer2019crn.github.io/M08/s2m8uf104_marcer/img/perfil_yo.jpg);
}

#amistats li a:link{
  color:white;
  text-decoration: none;
  position: absolute;
  bottom: 3px;
  font-size: 15px;
}

#amistats a:visited{
  color:white;
  text-decoration: none;
}

#fotos ul{
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#fotos li{
  width: 95px;
  height: 95px;
  background-color: white;
  padding: 0;
  margin: 2px;
  float:left;
  background-size: cover;
  position:relative;
}
#fotos #grid{

}

#Y1{
  background-image: url(https://vignette.wikia.nocookie.net/akatsukinoyona/images/7/7c/Yona_Anime.png/revision/latest?cb=20150205105525&path-prefix=es);

}


#Y2{
  background-image: url(http://ramenparados.com/wp-content/uploads/2016/04/akatsuki-no-yona-ilustracion-1000x600.jpg);
  background-repeat: no-repeat;
/*2x1//Grid*/
}

#Y3{
  background-image: url(http://lostinanime.com/wp-content/uploads/2015/02/AkatsukinoYona-18-9-1024x576.jpg);
/*2x1//Grid*/
}

#Y4{
  background-image: url(https://i.pinimg.com/originals/a7/01/6e/a7016e2efe0db3f1172a5cc14a7c03ed.jpg);
}

#Y5{
  background-image: url(https://lh3.googleusercontent.com/-iJh-bDXD0Xk/WE7veml9EDI/AAAAAAAABM4/ZfupTMIcE6I23yyj2Vtw-sNyGnWnwHiKwCJoC/w640-h627/E1024CC9-3A22-43B6-901F-8823EF66676E_zpsxy9rwtko.jpg);
}

#Y6{
  background-image: url(https://rukminim1.flixcart.com/image/832/832/jmqmpow0-1/poster/9/b/x/medium-athah-anime-yona-of-the-dawn-su-won-yona-hak-son-rabbit-original-imaf9kz6mgygzjjg.jpeg?q=70);
/*2x1//Grid*/
}

#Y7{
  background-image: url(https://vignette.wikia.nocookie.net/akatsukinoyona/images/e/e1/Hak_de_ni%C3%B1o.png/revision/latest?cb=20160820204920&path-prefix=es);
}

#estat{
  overflow: hidden;
  padding: 0 12px;
  width: 492px;
  position:relative;
}

#crear{
  height: 38px;
  width: 516px;
  background-color: #f5f5f7;
  padding: 0;
  margin: 0;
  overflow: hidden;
  padding: 12px;
  position: relative;
  left:-12px;
  text-align: center;
}

 #crear li{
  list-style: none;
  float: left;
  height:28px;
  margin: 0 0 0 1px;
  padding: 0 10px;
  font-size: 8pt;
  line-height: 28px;
  background-color: ;
  text-indent: 20px;
  border-radius: 13px;
  text-align: center;
}

#pensament {
  display: block;
  clear:left;
  padding: 12px;
  position:relative;
  left:-12px;
  width:300px;
  height: 71px;
  margin-left: 65px;
  border: 0;
  font-size: 1em;
  color: grey;
}

#miniperfil{
  float:left;
  clear:left;
  padding:12px;
  position:absolute;
  top:75px;
  left:15px;
  z-index: 1000;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#botonera_estat{
  height: 38px;
  width: 516px;
  background-color: #e9ebed;
  padding: 0;
  margin: 0;
  overflow: hidden;
  padding: 12px;
  position:relative;
  left:-12px;
}

#botonera_estat li{
  list-style: none;
  float: left;
  height:38px;
  margin: 0 0 0 1px;
  padding: 0 10px;
  font-size: 8pt;
  line-height: 38px;
  background-color: #f5f6f7;
  border-radius: 13px;
}

#estat_fotovideo{
  background-image: url(../img/btn1.png);
  background-repeat: no-repeat;
  background-position: 6px 6px;
  text-indent: 24px;
}

#estat_etiquetar{
  background-image: url(../img/btn2.png);
  background-repeat: no-repeat;
  background-position: 6px 6px;
  text-indent: 24px;
}

#estat_sentimiento{
  background-image: url(../img/btn3.png);
  background-repeat: no-repeat;
  background-position: 6px 6px;
  text-indent: 24px;
}

#estat_mes{
  text-indent: 0;
}

#estat_fotovideo:hover,#estat_etiquetar:hover,#estat_sentimiento:hover,#estat_mes:hover{
  opacity: 0.5;
}

#publica{
  background-image: url(../img/lapiz.png);
  background-position: 6px 6px;
  background-repeat: no-repeat;
}

#publica_foto{
  background-image: url(../img/camara.png);
  background-position: 6px 6px;
  background-repeat: no-repeat;
}

#publica_video{
  background-image: url(../img/video.png);
  background-position: 6px 6px;
  background-repeat: no-repeat;
}

#publica_aconteixement{
  background-image: url(../img/bandera.png);
  background-position: 6px 6px;
  background-repeat: no-repeat;
}

#publica:hover,#publica_foto:hover,#publica_video:hover,#publica_aconteixement:hover{
  opacity: 0.5;
}
}
