body{
  margin:0;
  padding:0;
  background-color: #e9ebed;
  font-family: 'Lucida Grande', Tahoma, Segoe UI, San Francisco, Roboto;
}

#barra{
  height:43px;
  background-color: #5066ae;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1000px;
}

#contingut{
  margin: 0 auto;
  width: 852px;
  background-position: center;
  overflow: hidden;
}

#cap{
  background-color: white;
  background-image: url(../img/yonacap.jpg);
  background-repeat: no-repeat;
  background-size: 852px 315px;
  height: 358px;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin-bottom: 12px;
}

#principal{
  background-color: green;
  height: 500px;
}

#cap img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: solid white 4px;
  position: relative;
  top: 160px;
  left: 21px;
  box-shadow: 3px 3px 3px black;
}
#cap h2{
  position: relative;
  top: 70px;
  left: 250px;
  color: white;
  text-shadow: 3px 3px 3px black;
}

#contingut #menu{
  height: 43px;
  background-color: #e9ebed;
  width: 598px;
  float:right;
  padding: 0;
  margin: 0;
  position:relative;
  top:66px;
}

#menu li{
  float:left;
  margin: 0 0 0 1px;
  list-style-type: none;
  background-color:white;
  display:block;
  height: 43px;
  padding: 0 20px;
  line-height: 43px;
}

.esquerra, .dreta {
  overflow:hidden;
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  margin-top: 12px;
  padding:12px;
}

.esquerra li, .dreta li {
  list-style-type: none;
}
.esquerra {
  width: 298px;
  float: left;
  clear: left;
}

#fotos{
  background-color: red;
}

#seccions{
  width: 322px;
  float:left;
}

.dreta{
  height: 100px;
  width: 492px;
  float:right;
  clear:right;
}

#seccions h3{
  background-image: url(../img/lateral.png);
  background-repeat: no-repeat;
  background-position: 0 -24px;
  text-indent: 26px;
  height: 24px;
}
#presentacio p{
  padding-bottom: 12px;
  box-shadow: 0 1px 0 #DDD;
}
#presentacio .estudis{
  list-style-image: url(../img/icones_estudis.png);
}
#presentacio .domicili{
  list-style-image: url(../img/icones_domicili.png);
}
#presentacio .feina{
  list-style-image: url(../img/icones_feina.png);
}
#presentacio .neixement{
  list-style-image: url(../img/icones_ubicacio.png);
}

#presentacio h3{
  background-position: 0 0;
}
#amistats h3{
  background-position: 0 -48px;
}
#surprise h3{
  background-position: 0 -72px;
}
#amistats ul{
  background-color: green;
  margin:0;
  padding:0;
  overflow: hidden;
}

#amistats li{
  width: 95px;
  height: 95px;
  background-color: red;
  padding:0;
  margin: 2px;
  float:left;
  background-size: cover;
  }

#sf{
  background-image: url(https://sfernandez2019crn.github.io/M08/s2m8uf104_fernandez/img/gos.png);
}
#ac{
  background-image: url(https://acarranco2019crn.github.io/m08/s2m8uf0104carranco/img/profile.jpg);
}
#sg{
  background-image: url(https://sgarzon2019crn.github.io/M08/s2m8uf104_facebook/img/perfil.jpg);
}
#sp{
  background-image: url(https://sperez2019crn.github.io/M08/s2m8uf104_sperez/img/fotoperfil.jpg);
}
#np{
  background-image: url(https://iprados2019crn.github.io/M08/s2m8uf104_iprados/img/fotoperfil.jpg);
}
#op{
  background-image: url(https://oparicio2019crn.github.io/M08/UF1/s2m8uf104_oparicio/img/perfil.png);
}
#nc{
  background-image: url(https://nchia2019crn.github.io/M08/s2m8uf104_chia/img/perfil.jpg);
}
#vh{
  background-image: url(https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png);
}
#sm{
  background-image: url(https://smarcer2019crn.github.io/M08/s2m8uf104_marcer/img/perfil_yo.jpg);
}
